# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
etcd
nodes
nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ ssh_user }}
ansible_become=yes

# OpenShift Deployment, enterprise of course!
openshift_deployment_type=openshift-enterprise
containerized=false
os_firewall_use_firewalld=True

# Set Domain for Apps
openshift_master_default_subdomain=apps.{{ hostvars['infra0']['floatingip'] }}.xip.io

# default project node selector
osm_default_node_selector='region=primary'

# Native high availability cluster method with optional load balancer.
#openshift_master_cluster_method=native
openshift_master_cluster_hostname=master0
openshift_master_cluster_public_hostname=master0.{{ hostvars['master0']['floatingip'] }}.xip.io
openshift_override_hostname_check=true

# Openstack
openshift_no_proxy=.ocp3.lab,169.254.169.254,144.76.56.119
openshift_cloudprovider_kind=openstack
openshift_cloudprovider_openstack_auth_url={{ lookup('env','OS_AUTH_URL') }}
openshift_cloudprovider_openstack_username={{ lookup('env','OS_USERNAME') }}
openshift_cloudprovider_openstack_password={{ lookup('env','OS_PASSWORD') }}
openshift_cloudprovider_openstack_domain_name={{ lookup('env','OS_PROJECT_DOMAIN_NAME') }}
openshift_cloudprovider_openstack_tenant_name={{ lookup('env','OS_PROJECT_NAME') }}
openshift_cloudprovider_openstack_region=RegionOne
openshift_cloudprovider_openstack_lb_subnet_id=
openshift_cloudprovider_openstack_blockstorage_version=v2

# Enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# Set networking to multi-tenant
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'

# Configure SDN cluster network and kubernetes service CIDR blocks. These
# network blocks should be private and should not conflict with network blocks
# in your infrastructure that pods may require access to. Can not be changed
# after deployment.
osm_cluster_network_cidr=10.30.0.0/16
openshift_portal_net=172.30.0.0/16
osm_host_subnet_length=8

# Disable disk and memory checks
openshift_disable_check=disk_availability,memory_availability

# Deploy router
openshift_hosted_manage_router=true
openshift_hosted_router_selector='region=infra'

# Deploy Registry
openshift_hosted_manage_registry=true
openshift_registry_selector='region=infra'
openshift_hosted_registry_replicas=1
openshift_hosted_registry_storage_kind=nfs
openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
openshift_hosted_registry_storage_nfs_directory=/exports
openshift_hosted_registry_storage_nfs_options='*(rw,root_squash)'
openshift_hosted_registry_storage_volume_name=registry
openshift_hosted_registry_storage_volume_size=10Gi

# Deploy logging
openshift_logging_install_logging=true
openshift_logging_storage_kind=nfs
openshift_logging_storage_access_modes=['ReadWriteOnce']
openshift_logging_storage_nfs_directory=/exports
openshift_logging_storage_nfs_options='*(rw,root_squash)'
openshift_logging_storage_volume_name=logging
openshift_logging_storage_volume_size=10Gi

# Deploy Metrics
openshift_metrics_install_metrics=true
openshift_metrics_storage_kind=nfs
openshift_metrics_storage_access_modes=['ReadWriteOnce']
openshift_metrics_storage_nfs_directory=/exports
openshift_metrics_storage_nfs_options='*(rw,root_squash)'
openshift_metrics_storage_volume_name=metrics
openshift_metrics_storage_volume_size=10Gi

# OpenShift Template Service Broker
openshift_template_service_broker_namespaces=['openshift']

# Deploy Service Catalog
openshift_enable_service_catalog=true

# ETCD Storage
openshift_hosted_etcd_storage_kind=nfs
openshift_hosted_etcd_storage_nfs_options="*(rw,root_squash,sync,no_wdelay)"
openshift_hosted_etcd_storage_nfs_directory=/exports/etcd 
openshift_hosted_etcd_storage_volume_name=etcd-vol2 
openshift_hosted_etcd_storage_access_modes=["ReadWriteOnce"]
openshift_hosted_etcd_storage_volume_size=1G
openshift_hosted_etcd_storage_labels={'storage': 'etcd'}

# nfs server
[nfs]

# host group for masters
[masters]

# host group for etcd
[etcd]

# host group for nodes, includes region info
[nodes]
