127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.0.1.16 node0.ocp3.lab node0
10.0.1.10 master0.ocp3.lab master0
10.0.1.5 bastion.ocp3.lab bastion
10.0.1.9 infra0.ocp3.lab infra0
10.0.1.15 node1.ocp3.lab node1
