[Swift1]
type = swift
env_auth = false
user = {{openstack_user}}
key = {{openstack_passwd}}
auth = {{openstack_auth_url}}
user_id =
domain = default
tenant = {{openstack_project}}
tenant_id =
tenant_domain = default
region =
storage_url =
auth_token =
auth_version = 3
endpoint_type = public
