[Unit]
Description=rclone mount for Swift1://{{swift_rhn_repo_container_name}}
Requires=NetworkManager.service
Wants=network-online.target
After=network-online.target

[Mount]
What=rclonefs#Swift1://{{swift_rhn_repo_container_name}}
Where={{swift_openshift_rhn_repo_mount}}
Type=fuse
Options=auto,config=/root/.config/rclone/rclone.conf,allow-other,default-permissions,rw,fast-list,cache-writes,vfs-cache-mode=writes,cache-dir=/tmp/rclone/vfs,cache-db-path=/tmp/rclone/cache,dir-cache-time=3600m
TimeoutSec=30

[Install]
WantedBy=multi-user.target
